h1 {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #333333;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

tr:hover, td:hover {
  background-color: rgba(150, 212, 212, 0.2);
}